<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Mercado Liebre Argentina</title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

	<!-- Own Stylesheet -->
	<link rel="stylesheet" href= "/stylesheets/style.css">
</head>

<body>
	<div class='container'>
		<header>
			
			<div class='logoC'>
				<span><img  src='/images/logo-mercado-liebre.svg' alt='logo' class='foto-logo'></span>
				<span class='s-logo'>Buscar productos, marcas y más <i class="fas fa-search"></i></span>
				<span class='titulo-H' ><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</span>
			</div>
			
		
			<nav  class='container' class='menuGrande' >
				
				<div class='row'>   
					<article class='col-6'>
						
						<ul class='left-navbar' >
							<p><li><a href='#'>Ofertas</a><a href='#'>Tiendas Oficiales</a><a href='#'> Vender</a> <a href='#'>ayuda</a></li></p>	
						</ul>
						
					</article>
					
					
					<article class='col-6'>
						
						<ul class='right-navbar' >
							<p>	<li><a href='#'>Creá tu cuenta</a><a href='#'>Ingresá</a><a href='#'>Mis compras</a></li></p>
							
						</ul>
					</article> 
				</nav>
				
			</div>	
		</div>
			
			
			
			
			<div class="pos-f-t" class='backcolor'>
				<div class="collapse" id="navbarToggleExternalContent">
					<div class="bg-dark p-4">
						<h5 class="text-white h4">Menu</h5>
						<span class="text-muted">
							<ul class='left-navbar'>
								<li><a href='#'>Ofertas</a></li>
								<li><a href='#'>Tiendas Oficiales</a></li>
								<li><a href='#'> Vender</a></li>
								<li><a href='#'>ayuda</a></li>
							</ul>
							<ul class='right-navbar'>
								<li><a href='#'>Creá tu cuenta</a></li>
								<li><a href='#'>Ingresá</a></li>
								<li><a href='#'>Mis compras</a></li>
								
							</ul>
						</span>
					</div>
					
				</div>
				<nav class="navbar navbar-dark"bg-dark > 
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
				</nav>
			</div>
			
			
			
			
			
			
		</header>
		
		<section>
			
			<img  src='/images/img-home-banner.jpg' alt='banner' class='foto-banner'>
			
		</section>
		
		<section class='vip-products' >
			
			<h2>Basado en tu última visita</h2>
		
			<article class='productos'>
				<img  src='/images/img-cafetera-moulinex.jpg' alt='Cafetera Moulinex Dolce Gusto' class='foto-producto'>
				<h2>$6.770</h2>
				<p>40% OFF</p>
				<i  class="fas fa-truck" style='color:#39b54a'></i>
				
			</article>
			
			<article class='productos'>
				<img  src='/images/img-macbook-pro-2019.jpg' alt='McBook Pro 2019' class='foto-producto'>
				<h2>$150.970</h2>
				<p>10% OFF</p>
				<i  class="fas fa-truck" style='color:#39b54a'></i>
				
			</article>
			
			
			<article class='productos'>
				<img  src='/images/img-tv-samsung-smart.jpg' alt='Televisor Samsung Smart TV' class='foto-producto'>
				<h2>$54.230</h2>
				<p></p>
				<i  class="fas fa-truck" style='color:#39b54a'></i>
				
			</article>
			
			
			<article class='productos'>
				<img  src='/images/img-samsung-galaxy-s10.jpg' alt='Samsun Galaxy s10' class='foto-producto'>
				<h2>$89.410</h2>
				<p>20% OFF</p>
				<i  class="fas fa-truck" style='color:#39b54a'></i>
				
			</article>
			
			
			
		</section>
		
	  	
		
		<footer>
			
			<article>
				<i class="far fa-credit-card" style="color:#1259c3"></i>
				<h2>Pagá con tarjeta o en efectivo</h2>
				<p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
				
			</article>
			
			<article>
				<i class="fas fa-gift" style="color:#1259c3"></i>
				<h2>Envío gratis desde $ 1.999</h2>
				<p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
				
			</article>
			
			<article>
				<i class="fas fa-user-shield"  style="color:#1259c3"></i>
				<h2>Seguridad, de principio a fin</h2>
				<p¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegido.</p>
				
			</article>
			
			<p>Copyright © 1999-2019 MercadoLiebre S.R.L.</p>
		</footer>
		
		
		
		
		
		
		
		
	</div>	
	
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
	
   
	
</body>
</html>